* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #d6f5ff;
  font-family: "open-sans";
}

.background {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "open-sans";
  src: url(../font/sans.ttf);
}

/* Landing Page  */
.container-landing {
  width: 80%;
  max-width: 120rem;
  text-align: center;
  margin: 0 auto;
}

.landing-page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.landing-page-header h1 {
  color: #0093ed;
  font-size: 8rem;
}

.navigation {
  padding: 24px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  vertical-align: middle;
}

.navigation .github-button .github {
  line-height: 0;
  border: 0.5px solid rgba(90, 89, 89, 0.3);
  display: inline-block;
  padding: 4px 12px;
  border-radius: 10px;
}

.navigation .twitter-button .twitter {
  line-height: 0;
  border: 0.5px solid rgba(0, 147, 237, 0.3);
  display: inline-block;
  padding: 4px 12px;
  border-radius: 10px;
}

.navigation img {
  height: 36px;
}

@media screen and (max-width: 1440px) {
  .landing-page-header h1 {
    font-size: 5rem;
  }
  .landing-page-header img {
    width: 20rem;
    height: 20rem;
  }
}

@media screen and (max-width: 700px) {
  .landing-page-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .landing-page-header h1 {
    font-size: 4rem;
    float: left;
  }
  .landing-page-header {
    width: 100%;
  }
  .navigation {
    padding: 12px 2px;
  }
}

.container {
  width: 80%;
  max-width: 120rem;
  margin: 4rem auto;
  position: relative;
  display: -ms-grid;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.container .frame-border {
  -webkit-box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 24px;
  margin: auto;
  width: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 42px 24px 24px;
  border: 1px solid #fff;
}

.container .frame-border .pointer {
  position: absolute;
  left: 24px;
  top: 16px;
  width: 42px;
  height: 10px;
  background: url("../sass/pointer.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.container .frame-border:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../sass/card-bg.png);
  background-position: center;
  mix-blend-mode: overlay;
  opacity: 0.3;
  border-radius: 24px;
}

.container .card {
  position: relative;
  width: 290px;
  height: 300px;
  margin: auto;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.container .card .content {
  padding: 20px;
  margin-top: 1rem;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .card .content a {
  color: #000000;
}

.container .card .content p {
  font-size: 1em;
  color: #ffffff;
  font-size: 300;
}

.container .card .content h3 {
  font-size: 1.4rem;
  color: #000000;
  text-align: center;
  margin-bottom: 1.3rem;
}

.container .card .content img {
  max-width: 100%;
  height: 160px;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  background: #ffffff;
  border-radius: 10px;
}

.container .card .content span {
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  color: #0c7beb;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background-color: rgba(12, 123, 235, 0.15);
  top: 20px;
  right: -20px;
}

.container .card .content .heading {
  margin-bottom: 3rem;
}

.container .card .content .image {
  -o-object-fit: cover;
  object-fit: cover;
}

.container .card .content .image-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.container .card .content .image-fill {
  -o-object-fit: fill;
  object-fit: fill;
}

.container .card .content .tag {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.container .card .content .women span {
  color: #0c7beb;
  background-color: rgba(12, 123, 235, 0.15);
}

.container .card .content .group span {
  color: #eb4c4c;
  background-color: rgba(235, 12, 12, 0.15);
}

.container .card .content .teacher span {
  color: #802392;
  background-color: rgba(148, 45, 168, 0.295);
}

@media (min-width: 1166px) and (max-width: 1440px) {
  .container {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
}

@media (min-width: 600px) and (max-width: 1166px) {
  .container {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}

@media (max-width: 750px) {
  .container {
    width: 100%;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  .navigation {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .navigation .github-button {
    margin: 10px;
  }
}

@media (max-width: 340px) {
  .container .frame-border {
    width: 300px;
  }
}

/*Start footer*/
.copyright {
  width: 100%;
  text-align: left;
  background: #7ab5d6;
  padding: 1rem 0;
  position: relative;
}

.footer-question {
  width: 70%;
  margin: 0 auto;
  text-align: left;
}

.footer-question h2 {
  margin: 1rem 0;
}

hr {
  margin-bottom: 1rem;
  border: 0.1px solid #0093ed;
  border-radius: 10px;
}

.footer-question p {
  margin-bottom: 1rem;
}

/* Back To Top */
.back-to-top .top {
  position: fixed;
  cursor: pointer;
  bottom: 15px;
  right: 15px;
  font-size: 25px;
  color: #ffffff;
  background-color: #000000;
  z-index: 4;
  width: 45px;
  text-align: center;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.back-to-top .top:hover {
  color: #ffffff;
  background: #0093ed;
}
