* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: url("../assets/svg/Home-Background.svg");
  background-size: cover;
  background-attachment: fixed;
  background-size: 300vh;
  font-family: "open-sans";
}

.nav-version {
  text-align: center;
  padding: 0.5rem;
  font-size: 0.8rem;
  color: #0093ed;
}

.background {
  max-width: 100%;
  height: auto;
}

.error-page {
  min-height: 68.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.error-page h2 {
  color: #0093ed;
  margin-left: 2rem;
  margin-top: 2rem;
}

.error-svg {
  margin: 1rem 0;
  width: 18rem;
  max-width: 70%;
}

.error-back-to-home-btn {
  font-size: 1.2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-decoration: none;
}

@font-face {
  font-family: "open-sans";
  src: url(../assets/font/sans.ttf);
}

/*Start scrollbar*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #0093ed;
  border-radius: 12px;
}

::-webkit-scrollbar-track {
  background: #d6f5ff;
}

/*End scrollbar*/
/* Navbar */
nav {
  background-color: #0093ed;
  overflow: hidden;
}

nav a {
  color: #ffffff;
}

nav .links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}


nav .links-container a > i {
  margin-right: 0.4rem;
 
}
nav .links-container a:hover{
  background-color:#40aaff;
 
}

nav .navWide {
  display: none;
  margin: 0 auto;
}

nav .navWide .wideDiv {
  text-align: center;
}

nav .navWide .wideDiv a {
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 2em;
  height: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s background-color;
  transition: 0.5s background-color;
}

nav .navWide .wideDiv a:hover {
  background-color: #007cc8;
}

nav .navWide .wideDiv .current-nav-link {
  border-bottom: 5px solid #77cbff;
}
.menu-icon{
  size:20000px;
}
nav .navNarrow i {
  cursor: pointer;
  color: #ffffff;
}

nav .navNarrow .links-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0.5rem;
}


.menu-icon{
  padding: 0.5rem;
  cursor:pointer;
}

nav .navNarrow .narrowLinks a {
  text-decoration: none;
  display: block;
  padding: 1em 0;
  margin-left: 1rem;
}


.hidden {
  display: none;
}

/*Adjust breakpoint as desired to select when the "hamburger" menu is
replaced by just the links.*/
@media (min-width: 705px) {
  nav .navWide {
    display: block;
  }
  nav .navNarrow {
    display: none;
  }
}

/* Landing Page Start  */
.container-landing {
  width: 90%;
  max-width: 120rem;
  text-align: center;
  margin: 0 auto;
}

.container-landing .landing-page-details {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 4rem;
}

.container-landing .landing-page-details .heading-text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container-landing .landing-page-details .heading-text a {
  text-decoration: none;
}

.container-landing .landing-page-details .heading-text h1 {
  font-size: 2.6rem;
  color: #0093ed;
  margin: 1rem;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.container-landing .landing-page-details .heading-text h1:hover {
  font-size: 3rem;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.container-landing .landing-page-details .heading-text p {
  color: #40aaff;
  padding: 1rem;
  font-size: 1.3rem;
  background-color: white;
  border-radius: 8px;
}

.container-landing .landing-page-details .header-image {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container-landing .landing-page-details img {
  width: 100%;
  border-radius: 1rem;
}

.landing-page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.landing-page-header .homesvg img {
  height: 100%;
  width: 500px;
  pointer-events: none;
}

.landing-page-header .header-details h1 {
  color: #0093ed;
  font-size: 6rem;
  padding: 0rem 1.5rem;
}

.landing-page-header .header-details p {
  color: #40aaff;
  font-size: 20px;
  padding: 1.5rem;
}

.landing-page-header .header-details a {
  border: 1px solid #0093ed;
  color: #0093ed;
  padding: 13px 36px;
  line-height: 35px;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 16px;
  text-decoration: none;
  margin: 1rem 1.5rem;
}

.landing-page-header .header-details a:hover {
  color: #ffffff;
  background: #0093ed;
}

.landing-page-header .header-details .search-container {
  background: #ffffff;
  border: 1px solid #0093ed;
  /* padding: 0px 36px; */
  padding-top: 3px;
  line-height: 33px;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 16px;
  text-decoration: none;
  margin: 1rem 1.5rem;
  width: 260px;
  height: 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.landing-page-header .header-details .search-container .search {
  border: none;
  background: none;
  color: #0093ed;
  outline: none;
  font-size: 20px;
  width: 100%;
  height: 100%;
  padding-left: 47px;
}

.landing-page-header .header-details .search-container .search-icon {
  color: #0093ed;
  font-size: 20px;
  position: absolute;
  left: 1.1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.landing-page-header .header-details .search-container:hover {
  background: #0093ed;
}

.landing-page-header .header-details .search-container:hover .search {
  color: #fff;
}

.landing-page-header .header-details .search-container:hover .search::-webkit-input-placeholder {
  color: #fff;
}

.landing-page-header .header-details .search-container:hover .search-icon {
  color: #fff;
}

.landing-page-header .header-details .search-container:focus {
  outline: none;
}

.label-container {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 98.8%;
}

.label-container .label {
  font-size: 1rem;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 15px;
  color: #0093ed;
  border: 1px solid #0093ed;
  cursor: pointer;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.landing-page-header .header-details h4 {
  font-size: 22px;
}

.landing-page-header .header-details .landing-page-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.landing-page-header .header-details .landing-page-btn-container .discord-button .discord:hover {
  background: none;
  line-height: 0;
  border: 0.5px solid #7289da;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 10px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.landing-page-header .header-details .landing-page-btn-container .discord-button .discord {
  background: none;
  line-height: 0;
  border: 0.5px solid #7289da;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.landing-page-header .header-details .landing-page-btn-container .discord-button img {
  width: 140px;
  height: 36px;
}

.landing-page-header .header-details .landing-page-btn-container .explore-all-btn .call-to-action-btn {
  background: none;
  line-height: 0;
  border: 0.5px solid rgba(0, 147, 237, 0.3);
  display: inline-block;
  padding: 6px 12px;
  border-radius: 10px;
  height: 48px;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #0093ed;
  color: #0093ed;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  margin: 0rem 1.5rem;
}

.landing-page-header .header-details .landing-page-btn-container .explore-all-btn .call-to-action-btn:hover {
  color: #ffffff;
  background: #0093ed;
}

.ambassador-section {
  scroll-margin-top: 2rem;
}

.landing-page-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* Start Landing SVG */
#home {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

/* End Landing SVG */
.top-navbar .navigation {
  padding: 24px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  vertical-align: middle;
}

.navigation {
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 24px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navigation .github-button .github {
  line-height: 0;
  border: 0.5px solid rgba(37, 28, 28, 0.3);
  display: inline-block;
  padding: 4px 12px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navigation .github-button .github:hover {
  line-height: 0;
  border: 0.5px solid rgba(90, 89, 89, 0.3);
  display: inline-block;
  padding: 4px 12px;
  border-radius: 10px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navigation .github-button img {
  height: 36px;
}

.navigation .product-hunt-button .product-hunt {
  line-height: 0;
  display: inline-block;
  padding: 4px 12px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navigation .product-hunt-button .product-hunt:hover {
  line-height: 0;
  display: inline-block;
  padding: 4px 12px;
  border-radius: 10px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navigation .product-hunt-button img {
  height: 36px;
}

.navigation .twitter-button .twitter {
  line-height: 0;
  border: 0.5px solid rgba(0, 147, 237, 0.3);
  display: inline-block;
  padding: 4px 12px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navigation .twitter-button .twitter:hover {
  line-height: 0;
  border: 0.5px solid rgba(0, 147, 237, 0.3);
  display: inline-block;
  padding: 4px 12px;
  border-radius: 10px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navigation .twitter-button img {
  height: 36px;
}

/* Landing Page End */
/* JS Frameworks */
/* Programs Section Start */
.container {
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem 0rem;
  position: relative;
  text-align: center;
}

.container .align-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 4rem;
}

.container .card-js {
  position: relative;
  width: 290px;
  height: 350px;
  margin: auto;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  background: #eafaff;
  overflow: hidden;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.container .card-js .content {
  padding: 20px;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .card-js .content a {
  color: #000000;
}

.container .card-js .content p {
  font-size: 1em;
  padding-top: 1rem;
  color: #000000;
  font-size: 300;
}

.container .card-js .content h3 {
  font-size: 1.4rem;
  color: #000000;
  text-align: center;
  margin-bottom: 1.3rem;
}

.container .card-js .content img {
  max-width: 100%;
  height: 160px;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  background: #ffffff;
  border-radius: 10px;
}

.container .card-js .content span {
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  color: #0c7beb;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background-color: rgba(12, 123, 235, 0.15);
  top: 20px;
  right: -20px;
}

.container .card-js .content .heading {
  margin-bottom: 3rem;
}

.container .card-js .content .image,
.container .card-js .content .image-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.container .card-js .content .image-fill {
  -o-object-fit: fill;
  object-fit: fill;
}

.container .card-js .content .tag {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.container .card-js .content .women span {
  color: #0c7beb;
  background-color: rgba(12, 123, 235, 0.15);
}

.container .card-js .content .group span {
  color: #eb4c4c;
  background-color: rgba(235, 12, 12, 0.15);
}

.container .card {
  position: relative;
  width: 300px;
  height: 100px;
  margin: auto;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  background: #eafaff;
  overflow: hidden;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.container .card .content {
  padding: 20px;
  margin-top: 1rem;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .card .content a {
  color: #000000;
}

.container .card .content p {
  font-size: 1em;
  color: #000000;
  font-size: 300;
}

.container .card .content h3 {
  font-size: 1.4rem;
  color: #000000;
  text-align: center;
  margin-bottom: 1.3rem;
}

.container .card .content img {
  max-width: 100%;
  height: 160px;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  background: #ffffff;
  border-radius: 10px;
}

.container .card .content span {
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  color: #0c7beb;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background-color: rgba(12, 123, 235, 0.15);
  top: 20px;
  right: -20px;
}

.container .card .content .heading {
  margin-bottom: 3rem;
}

.container .card .content .image,
.container .card .content .image-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.container .card .content .image-fill {
  -o-object-fit: fill;
  object-fit: fill;
}

.container .card .content .tag {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.container .card .content .women span {
  color: #0c7beb;
  background-color: rgba(12, 123, 235, 0.15);
}

.container .card .content .group span {
  color: #eb4c4c;
  background-color: rgba(235, 12, 12, 0.15);
}

/* Programs Section End */
/* Searching No Results Start*/
.noresult-description {
  margin-top: 1.25rem;
}

.noresult-description h1 {
  /* color: #5a5959; */
  color: #0093ed;
}

.noresult-image {
  width: 250px;
  max-width: 90%;
}

.noresult-description p {
  margin-top: 0.938rem;
  color: #45acff;
}

/* Searching No Results End*/
/*Start footer*/
.footer {
  background: url("../assets/svg/Footer.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 6rem 0rem 2rem 0rem;
}

.footer-question {
  width: 70%;
  margin: 0 auto;
  text-align: left;
}

.footer-question h4 {
  color: rgba(255, 255, 255, 0.808);
}

.footer-question a {
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px dotted #d6f5ff;
}

hr {
  margin-bottom: 1rem;
  border: 0.1px solid #0093ed;
  border-radius: 10px;
}

.footer-question p {
  color: rgba(255, 255, 255, 0.808);
  margin-bottom: 1rem;
}

/* Footer End */
/* Back To Top Start */
.back-to-top .top {
  position: fixed;
  cursor: pointer;
  bottom: 20px;
  right: 15px;
  font-size: 16px;
  color: #ffffff;
  background-color: #111e44;
  border: 2px solid #3c4e85;
  z-index: 4;
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.back-to-top .top:hover {
  color: #ffe5b5;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* Back To Top End */
/* Preloader Start */
.preload {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #d6f5ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo {
  -webkit-animation: preload_logo 1s ease infinite alternate;
          animation: preload_logo 1s ease infinite alternate;
}

@-webkit-keyframes preload_logo {
  from {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-filter: opacity(50%);
            filter: opacity(50%);
  }
}

@keyframes preload_logo {
  from {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-filter: opacity(50%);
            filter: opacity(50%);
  }
}

/* Preloader End */
/* Landing Page Responsive Start */
@media screen and (max-width: 1440px) {
  .landing-page-header .header-details h1 {
    font-size: 5rem;
  }
  .landing-page-header img {
    width: 20rem;
    height: 20rem;
  }
}

@media screen and (min-width: 780px) and (max-width: 1024px) {
  .landing-page-header .homesvg img {
    height: 100%;
    width: 280px;
    pointer-events: none;
  }
  .landing-page-header .header-details h1 {
    font-size: 4rem;
  }
  .landing-page-header .header-details p {
    font-size: 14px;
  }
}

@media screen and (max-width: 780px) {
  .container-landing .landing-page-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .container-landing .landing-page-details .second {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .landing-page-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .landing-page-header .homesvg img {
    height: 100%;
    width: 280px;
    pointer-events: none;
  }
  .landing-page-header .header-details h1 {
    font-size: 3rem;
  }
  .landing-page-header .header-details p {
    font-size: 16px;
  }
  .landing-page-header .header-details a {
    padding: 10px 40px;
  }
  .container-landing {
    width: 90%;
  }
  .top-navbar .navigation {
    padding: 12px 2px;
  }
}

@media screen and (max-width: 600px) {
  .landing-page-btn-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* Landing Page Responsive End */
/* Programs Section Responsive Start */
@media (max-width: 844px) {
  .container {
    width: 100%;
  }
  .container .align-flex {
    gap: 1.5rem;
  }
}

@media (max-width: 600px) {
  .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .navigation .product-hunt-button {
    margin-top: 10px;
  }
  .navigation .twitter-button {
    margin-top: 10px;
  }
  .error-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 420px) {
  .container .align-flex .frame-border .card .content h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 320px) {
  .container .card-js {
    width: 250px;
  }
  .frame-border .card {
    width: 100px;
  }
}

@media (max-width: 281px) {
  .container .card-js {
    width: 200px;
  }
  .container-landing .header-details h1 {
    font-size: 2rem;
  }
  .container-landing .header-details .search-container {
    width: 180px;
  }
}
/*# sourceMappingURL=style.css.map */