// Colors
$bodyBg: #d6f5ff;
$pageHeading: #0093ed;
$pagePara: #40aaff;
$githubBorder: rgba(90, 89, 89, 0.3);
$twitterBorder: rgba(0, 147, 237, 0.3);
$cardFrame: rgba(255, 255, 255, 0.2);
$cardShadow: rgba(255, 255, 255, 0.05);
$cardBg: rgba(255, 255, 255, 0.1);
$innercardShadow: rgba(0, 0, 0, 0.3);
$spanBg: rgba(12, 123, 235, 0.15);
$ribbonColor1: #0c7beb;
$ribbonBg1: rgba(12, 123, 235, 0.15);
$ribbonColor2: #eb4c4c;
$ribbonBg2: rgba(235, 12, 12, 0.15);
$footerQues: hsla(0, 0%, 100%, 0.808);
$btnHover: #00253a;
$colorWhite: #ffffff;
$colorBlack: #000000;

@mixin flex-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../assets/svg/Home-Background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "open-sans";
}

.background {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "open-sans";
  src: url(../assets/font/sans.ttf);
}

/*Start scrollbar*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: $pageHeading;
  border-radius: 12px;
}

::-webkit-scrollbar-track {
  background: $bodyBg;
}
/*End scrollbar*/

/* Landing Page Start  */

.container-landing {
  width: 80%;
  max-width: 120rem;
  text-align: center;
  margin: 0 auto;
}

.landing-page-header {
  @include flex-container();
  justify-content: center;
  text-align: left;

  .homesvg {
    img {
      height: 100%;
      width: 500px;
      pointer-events: none;
    }
  }

  .header-details {
    h1 {
      color: $pageHeading;
      font-size: 6rem;
      padding: 0rem 1.5rem;
    }
    p {
      color: $pagePara;
      font-size: 20px;
      padding: 1.5rem;
    }
    a {
      background: $colorWhite;
      border: 1px solid $pageHeading;
      color: $pageHeading;
      padding: 13px 36px;
      line-height: 35px;
      cursor: pointer;
      display: inline-block;
      transition: all 0.2s ease;
      border-radius: 16px;
      text-decoration: none;
      margin: 1rem 1.5rem;
      &:hover {
        color: $colorWhite;
        background: $pageHeading;
      }
    }
    h4 {
      font-size: 22px;
    }
  }
}

/* Start Landing SVG */

#home {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

/* End Landing SVG */

.top-navbar .navigation {
  padding: 24px 24px;
  @include flex-container();
  justify-content: space-between;
  vertical-align: middle;
}

.navigation {
  padding: 24px 24px;
  @include flex-container();
  justify-content: space-between;
  .github-button {
    .github {
      line-height: 0;
      border: 0.5px solid $githubBorder;
      display: inline-block;
      padding: 4px 12px;
      border-radius: 10px;
    }
    img {
      height: 36px;
    }
  }
  .twitter-button {
    .twitter {
      line-height: 0;
      border: 0.5px solid $twitterBorder;
      display: inline-block;
      padding: 4px 12px;
      border-radius: 10px;
    }
    img {
      height: 36px;
    }
  }
}

/* Landing Page End */

/* Programs Section Start */

.container {
  width: 90%;
  max-width: 120rem;
  margin: 4rem auto;
  padding: 2rem 0rem;
  position: relative;
  text-align: center;

  .align-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
  }

  .frame-border {
    position: relative;
    background: $cardFrame;
    box-shadow: inset 0 0 0 200px $cardShadow;
    border-radius: 24px;
    padding: 42px 28px 24px 28px;
    border: 1px solid $colorWhite;

    .pointer {
      position: absolute;
      left: 24px;
      top: 16px;
      width: 42px;
      height: 10px;
      background: url("../assets/img/pointer.png");
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }

  .card {
    position: relative;
    width: 290px;
    height: 300px;
    margin: auto;
    box-shadow: 3px 3px 10px $innercardShadow;
    border-radius: 15px;
    background: $cardBg;
    overflow: hidden;
    backdrop-filter: blur(5px);

    .content {
      padding: 20px;
      margin-top: 1rem;
      text-align: center;
      transition: 0.5s;

      a {
        color: $colorBlack;
      }

      p {
        font-size: 1em;
        color: $colorWhite;
        font-size: 300;
      }

      h3 {
        font-size: 1.4rem;
        color: $colorBlack;
        text-align: center;
        margin-bottom: 1.3rem;
      }

      img {
        max-width: 100%;
        height: 160px;
        width: 100%;
        object-fit: contain;
        background: $colorWhite;
        border-radius: 10px;
      }

      span {
        position: absolute;
        font-size: 10px;
        font-weight: bold;
        color: $ribbonColor1;
        text-transform: uppercase;
        text-align: center;
        line-height: 20px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        width: 100px;
        display: block;
        background-color: $spanBg;
        top: 20px;
        right: -20px;
      }
      .heading {
        margin-bottom: 3rem;
      }

      .image {
        object-fit: cover;
      }

      .image-cover {
        object-fit: cover;
      }

      .image-fill {
        object-fit: fill;
      }

      .tag {
        position: absolute;
        right: -5px;
        top: -5px;
        z-index: 1;
        overflow: hidden;
        width: 75px;
        height: 75px;
        text-align: right;
      }

      .women span {
        color: $ribbonColor1;
        background-color: $ribbonBg1;
      }

      .group span {
        color: $ribbonColor2;
        background-color: $ribbonBg2;
      }
    }
  }
}

/* Programs Section End */

/*Start footer*/

.footer {
  background: url("../assets/svg/Footer.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 6rem 0rem 2rem 0rem;
}

.footer-question {
  width: 70%;
  margin: 0 auto;
  text-align: left;
}

.footer-question {
  h4 {
    color: $footerQues;
  }
  a {
    font-weight: 600;
    text-decoration: none;
    color: $colorWhite;
    border-bottom: 1px dotted $bodyBg;
  }
}

hr {
  margin-bottom: 1rem;
  border: 0.1px solid $pageHeading;
  border-radius: 10px;
}

.footer-question {
  p {
    color: $footerQues;
    margin-bottom: 1rem;
  }
}

/* Footer End */

/* Back To Top Start */

.back-to-top {
  .top {
    position: fixed;
    cursor: pointer;
    bottom: 15px;
    right: 15px;
    font-size: 25px;
    color: $colorWhite;
    background-color: $colorBlack;
    z-index: 4;
    width: 45px;
    text-align: center;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

.back-to-top {
  .top:hover {
    color: $colorWhite;
    background: $btnHover;
  }
}

/* Back To Top End */

/* Landing Page Responsive Start */

@media screen and (max-width: 1440px) {
  .landing-page-header {
    .header-details h1 {
      font-size: 5rem;
    }
    img {
      width: 20rem;
      height: 20rem;
    }
  }
}

@media screen and (min-width: 720px) and (max-width: 1024px) {
  .landing-page-header {
    .homesvg {
      img {
        height: 100%;
        width: 280px;
        pointer-events: none;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .landing-page-header {
    flex-direction: column;
    .homesvg {
      img {
        height: 100%;
        width: 280px;
        pointer-events: none;
      }
    }

    .header-details {
      h1 {
        font-size: 3.5rem;
      }
      p {
        font-size: 16px;
      }
      a {
        padding: 10px 40px;
      }
    }
  }
  .container-landing {
    width: 90%;
  }
  .top-navbar .navigation {
    padding: 12px 2px;
  }
}

/* Landing Page Responsive End */

/* Programs Section Responsive Start */

@media (max-width: 844px) {
  .container {
    width: 100%;
  }
  .container .align-flex {
    gap: 1.5rem;
  }
}

@media (max-width: 600px) {
  .navigation {
    flex-direction: column;
  }
  .navigation .twitter-button {
    margin-top: 10px;
  }
}

@media (max-width: 420px) {
  .container .align-flex .frame-border .card .content h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 350px) {
  .frame-border .card {
    width: 250px;
  }
}

/* Programs Section Responsive End */
