* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #d6f5ff;
  font-family: "open-sans";
}

/* Landing Page  */
.landing-page-header {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 100vh; */
}

.landing-page-header h1 {
  color: #0093ed;
  font-size: 8rem;
}

.background {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "open-sans";
  src: url(../font/sans.ttf);
}

.container {
  width: 80%;
  max-width: 120rem;
  margin: 4rem auto;
  position: relative;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.container .card {
  position: relative;
  width: 290px;
  height: 300px;
  margin: auto;
  background: #24d3b2;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  /* background: rgba(255, 255, 255, 0.1); */
  background: #24d3b2;
  overflow: hidden;
  backdrop-filter: blur(5px);
}

.container .card .content {
  padding: 20px;
  margin-top: 1rem;
  text-align: center;
  transition: 0.5s;
}

.container .card .content img {
  max-width: 100%;
  height: 160px;
  width: 100%;
  object-fit: contain;
  background: white;
  border-radius: 10px;
}

.container .card .content .image-cover {
  object-fit: cover;
}

.container .card .content .image-fill {
  object-fit: fill;
}

.container .card .content h3 {
  font-size: 1.4rem;
  color: black;
  text-align: center;
  margin-bottom: 1.3rem;
}

.container .card .content .heading {
  margin-bottom: 3rem;
}

.container .card .content .image {
  object-fit: cover;
}

.container .card .content p {
  font-size: 1em;
  color: white;
  font-size: 300;
}

.container .card .content a {
  color: white;
}

.container .card .content .tag {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.container .card .content span {
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  color: #0c7beb;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background-color: rgba(12, 123, 235, 0.15);
  top: 20px;
  right: -20px;
}

.container .card .content .women span {
  color: #0c7beb;
  background-color: rgba(12, 123, 235, 0.15);
}

.container .card .content .group span {
  color: #eb4c4c;
  background-color: rgba(235, 12, 12, 0.15);
}

@media (min-width: 1000px) and (max-width: 1240px) {
  .container {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
}
@media (min-width: 600px) and (max-width: 1000px) {
  .container {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}

@media (max-width: 750px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
}

/* Footer  */

/*Start footer*/
.copyright {
  width: 100%;
  text-align: left;
  background: #7ab5d6;
  padding: 1rem 0;
  position: relative;
}

.footer-question {
  width: 70%;
  margin: 0 auto;
  text-align: left;
}

.footer-question h2 {
  margin: 1rem 0;
}

hr {
  margin-bottom: 1rem;
  border: 0.1px solid #2d5972;
  border-radius: 10px;
}

.footer-question p {
  margin-bottom: 1rem;
}
