* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
body[data-theme="light"] {
  --native1: #ffffff;
  --native2: #00253a;
  --primary: #0093ed;
  --secondary: #7dd8ff;
  --accent-10: #0072b1;
  --accent-20: #7dd8ff;
  --accent-30: #d6f5ff;
  --extra1: #eafaff;
  --extra2: #000000;
  --extra3: var(--accent-30);
  --extra4: var(--native1);
  background: url("../public//assets//svg/Home-Background.svg");
  background-size: cover;
  background-attachment: fixed;
  background-size: 300vh;
  font-family: "open-sans";
  --logo-color: brightness(0) invert(1);
  --navbar-links: #ffffff;  
  --footer-links: #000;
  --navbar-color: #0093ED;
}

body[data-theme="dark"] {
  --native2: #ffffff;
  --native1: #00253a;
  --primary: #03a4ff;
  --secondary: #03a4ff;
  --accent-10: #00314d;
  --accent-20: #044468;
  --accent-30: #52c1ff;
  --extra1: var(--native1);
  --extra2: var(--accent-30);
  --extra3: var(--accent-10);
  --extra4: var(--accent-10);
  background: var(--accent-10);
  --logo-color: brightness(0) invert(0);
  --navbar-links: #03a4ff;  
  --footer-links: #fff;
  --navbar-color: #001B2B;
}

.nav-version {
  text-align: center;
  padding: 0.5rem;
  font-size: 0.8rem;
  color: var(--primary);
}

.background {
  max-width: 100%;
  height: auto;
}

.error-page {
  min-height: 68.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.error-page h2 {
  color: var(--primary);
  margin-left: 2rem;
  margin-top: 2rem;
}

.error-svg {
  margin: 1rem 0;
  width: 18rem;
  max-width: 70%;
}

.error-back-to-home-btn {
  font-size: 1.2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-decoration: none;
}

@font-face {
  font-family: "open-sans";
  src: url(../public/assets/font/sans.ttf);
}

/*Start scrollbar*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 12px;
}

::-webkit-scrollbar-track {
  background: var(--accent-30);
}

/*End scrollbar*/
/* Navbar */

.wideDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em 0 1.5em;
}

nav {
  background-color: var(--navbar-color);
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav .links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: center;
  justify-content: center;
}

.logo-containter {
  display: flex;
  margin-bottom: 0%;
  padding-bottom: 0%;
  padding-top: 5px;
}

.logo-containter > p {
  color: var(--navbar-links);
  font-size: 1.5em;
  font-weight: 700;
  cursor: pointer;
}

.theme-toggle-collapsed-navbar {
  margin-bottom: 5px;
}

nav .links-container a {
  color: var(--navbar-links);
}

nav .links-container a > i {
  color: var(--navbar-links);
}

nav .navWide {
  display: none;
  margin: 0 auto;
}

nav .navWide .wideDiv {
  text-align: center;
}

nav .navWide .wideDiv a {
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 4rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.5s background-color;
  transition: 0.5s background-color;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.links-container a {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  color: #000;
  text-decoration: none;
  /* overflow: hidden; */
  margin-left: 2em;
}

.links-container a::before {
  position: absolute;
  content: "";
  height: 5px;
  width: 0;
  background-color: var(--native1);
  transition: width 0.3s ease-in-out;
  left: 0;
  bottom: 1px;
}

.links-container a:hover::before {
  width: 100%;
}

.navNarrow-Bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navNarrow-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0.5em 0 0.5em;
}

nav .navNarrow-Bar i {
  cursor: pointer;
  color: var(--navbar-links);
  position: relative;
}

.current-nav-link {
  display: flex;
  color: var(--navbar-links);
  width: max-content;
}

.current-nav-link i {
  display: inline-block;
  margin-right: 5px;
}

.current-nav-link.active::before {
  position: absolute;
  content: "";
  height: 5px;
  width: 100%;
  background-color: var(--native1);
  transition: width 0.3s ease-in-out;
  left: 0;
  bottom: 1px;
}

nav .navNarrow .links-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 0.5rem;
}

nav .navNarrow-Bar .fa-bars {
  padding: 0.5rem;
}

nav .navNarrow-Bar .fa-times {
  padding: 0.5rem;
}

nav .navNarrow .narrowLinks a {
  text-decoration: none;
  display: block;
  padding: 1em 0;
  margin-left: 1rem;
}

.hidden {
  display: none;
}

/*Adjust breakpoint as desired to select when the "hamburger" menu is
replaced by just the links.*/
@media (min-width: 950px) {
  nav .navWide {
    display: block;
  }

  nav .navNarrow-container {
    display: none;
  }
}

/* Landing Page Start  */
.container-landing {
  width: 90%;
  max-width: 120rem;
  text-align: center;
  margin: 0 auto;
}

.container-landing .landing-page-details {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 4rem;
}

.container-landing .landing-page-details .heading-text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container-landing .landing-page-details .heading-text a {
  text-decoration: none;
}

.container-landing .landing-page-details .heading-text h1 {
  font-size: 2.6rem;
  color: var(--primary);
  margin: 1rem;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.container-landing .landing-page-details .heading-text h1:hover {
  font-size: 3rem;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.container-landing .landing-page-details .heading-text p {
  color: #40aaff;
  padding: 1rem;
  font-size: 1.3rem;
  background-color: var(--native1);
  border-radius: 8px;
}

.container-landing .landing-page-details .header-image {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container-landing .landing-page-details img {
  width: 100%;
  border-radius: 1rem;
}

.landing-page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.landing-page-header .homesvg img {
  height: 100%;
  width: 500px;
  pointer-events: none;
}

.landing-page-header .header-details h1 {
  color: var(--primary);
  font-size: 6rem;
  padding: 0rem 1.5rem;
}

.landing-page-header .header-details p {
  color: #40aaff;
  font-size: 20px;
  padding: 1.5rem;
}

.landing-page-header .header-details a {
  border: 1px solid var(--primary);
  color: var(--primary);
  padding: 13px 36px;
  line-height: 35px;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 16px;
  text-decoration: none;
  margin: 1rem 1.5rem;
}

.landing-page-header .header-details a:hover {
  color: var(--native1);
  background: var(--primary);
}

.landing-page-header .header-details .search-container {
  background: #f0f8ff8a;
  border: 1px solid var(--primary);
  /* padding: 0px 36px; */
  padding-top: 3px;
  line-height: 33px;
  cursor: pointer;
  display: inline-flex;
  transition: all 0.2s ease;
  border-radius: 16px;
  text-decoration: none;
  margin: 1rem 1.5rem;
  width: 260px;
  height: 65px;
  align-items: center;
  position: relative;
  color: #0093ed !important;
}

.landing-page-header .header-details .search-container .search {
  border: none;
  outline: none;
  font-size: 20px;
  width: 100%;
  height: 100%;
  padding-left: 47px;
}
input.search {
  background: none !important;
  font-weight: bold;
  color: #0093ed !important;
}

.landing-page-header .header-details .search-container .search-icon {
  color: var(--primary);
  font-size: 20px;
  position: absolute;
  left: 1.1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.landing-page-header .header-details .search-container:hover {
  background: var(--primary);
}

.landing-page-header .header-details .search-container:hover .search {
  color: var(--native1);
}

.landing-page-header
  .header-details
  .search-container:hover
  .search::-webkit-input-placeholder {
  color: var(--native1);
}

.landing-page-header .header-details .search-container:hover .search-icon {
  color: var(--native1);
}

.landing-page-header .header-details .search-container:focus {
  outline: none;
}

.label-container {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 98.8%;
}

.label-container .label {
  font-size: 1rem;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 15px;
  color: var(--primary);
  border: 1px solid var(--primary);
  cursor: pointer;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.landing-page-header .header-details h4 {
  font-size: 22px;
}

.landing-page-header .header-details .landing-page-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.landing-page-header
  .header-details
  .landing-page-btn-container
  .discord-button
  .discord:hover {
  background: none;
  line-height: 0;
  border: 0.5px solid #7289da;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 10px;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.landing-page-header
  .header-details
  .landing-page-btn-container
  .discord-button
  .discord {
  background: none;
  line-height: 0;
  border: 0.5px solid #7289da;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.landing-page-header
  .header-details
  .landing-page-btn-container
  .discord-button
  img {
  width: 140px;
  height: 36px;
}

.landing-page-header
  .header-details
  .landing-page-btn-container
  .explore-all-btn
  .call-to-action-btn {
  background: none;
  line-height: 0;
  border: 0.5px solid rgba(0, 147, 237, 0.3);
  display: inline-block;
  padding: 6px 12px;
  border-radius: 10px;
  height: 48px;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid var(--primary);
  color: var(--primary);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  margin: 0rem 1.5rem;
}

.landing-page-header
  .header-details
  .landing-page-btn-container
  .explore-all-btn
  .call-to-action-btn:hover {
  color: var(--native1);
  background: var(--primary);
}

.ambassador-section {
  scroll-margin-top: 2rem;
}

.landing-page-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* Start Landing SVG */
#home {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

/* End Landing SVG */
.top-navbar .navigation {
  padding: 24px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  vertical-align: middle;
}

.navigation {
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 24px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navigation .github-button .github {
  line-height: 0;
  border: 0.5px solid rgba(37, 28, 28, 0.3);
  display: inline-block;
  padding: 4px 12px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--accent-30);
}

.navigation .github-button .github:hover {
  line-height: 0;
  border: 0.5px solid rgba(90, 89, 89, 0.3);
  display: inline-block;
  padding: 4px 12px;
  border-radius: 10px;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.navigation .github-button img {
  height: 36px;
}

.navigation .product-hunt-button .product-hunt {
  line-height: 0;
  display: inline-block;
  padding: 4px 12px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navigation .product-hunt-button .product-hunt:hover {
  line-height: 0;
  display: inline-block;
  padding: 4px 12px;
  border-radius: 10px;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.navigation .product-hunt-button img {
  height: 36px;
}

.navigation .twitter-button .twitter {
  line-height: 0;
  border: 0.5px solid rgba(0, 147, 237, 1);
  display: inline-block;
  padding: 4px 12px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navigation .twitter-button .twitter:hover {
  line-height: 0;
  border: 0.5px solid rgba(0, 147, 237, 0.3);
  display: inline-block;
  padding: 4px 12px;
  border-radius: 10px;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.navigation .twitter-button img {
  height: 36px;
}

/* Landing Page End */
/* JS Frameworks */
/* Programs Section Start */
.container {
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem 0rem;
  position: relative;
  text-align: center;
}

.container .align-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 4rem;
}

.container .card-js {
  position: relative;
  width: 290px;
  height: clamp(350px, 424px, 430px);
  margin: auto;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  background: var(--extra1);
  overflow: hidden;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.container .card-js .content {
  padding: 20px;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}

.container .card-js .content a {
  color: var(--extra2);
}

.container .card-js .content p {
  font-size: 1em;
  padding-top: 1rem;
  color: var(--extra2);
  font-size: 300;
}

.container .card-js .content h3 {
  font-size: 1.4rem;
  color: var(--extra2);
  text-align: center;
  margin-bottom: 1.3rem;
}

.container .card-js .content img {
  max-width: 100%;
  height: 160px;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  background: var(--native1);
  border-radius: 10px;
}

.container .card-js .content span {
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  color: #0c7beb;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background-color: rgba(12, 123, 235, 0.15);
  top: 20px;
  right: -20px;
}

.container .card-js .content .heading {
  margin-bottom: 3rem;
}

.container .card-js .content .image,
.container .card-js .content .image-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.container .card-js .content .image-fill {
  -o-object-fit: fill;
  object-fit: fill;
}

.container .card-js .content .tag {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.container .card-js .content .women span {
  color: #0c7beb;
  background-color: rgba(12, 123, 235, 0.15);
}

.container .card-js .content .group span {
  color: #eb4c4c;
  background-color: rgba(235, 12, 12, 0.15);
}

.container .card-js .content .card__link {
  display: block;
  margin-top: 2rem !important;
  text-decoration: none;
  background-color: var(--primary);
  color: var(--native1);
  padding: 0.6rem 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.container .card-js .content .glow-button {
  appearance: none;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  border-radius: 11px;
  border: #0093ed 1.5px solid;
  position: relative;
  line-height: 24px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  background: none;
  z-index: 1;
  box-shadow: 0 8px 20px rgba(33, 4, 104, 0.2);
  display: block;
  margin-top: 1rem !important;
  text-decoration: none;
  color: var(--native1);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.container .card-js .content .glow-button .glowing-button {
  position: relative;
  display: block;
  text-decoration: none;
  padding: 0.6rem 0;
  width: inherit;
  border-radius: inherit;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.container .card-js .content .glow-button .glowing-button::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: linear-gradient(to right, #7dd8ff, var(--accent-10));
  opacity: 0;
  filter: blur(20px);
  transition: opacity 0.5s;
}

.container .card-js .content .glow-button:hover .glowing-button::before {
  animation: glowAnimation 1s forwards;
}

/* CSS for image zoom effect */
.app {
  display: grid;
  place-items: center;
  height: 100vh;
}

.img-container {
  overflow: hidden;
}

.img-container img {
  width: 450px;
  transition: transform 0.3s;
}

.img-container img:hover {
  transform: scale(0.7);
}

@keyframes glowAnimation {
  0% {
    opacity: 0;
    transform: scale(1) translateZ(0);
  }

  100% {
    opacity: 1;
    transform: scale(4.5) translateZ(0);
  }
}

.container .card {
  position: relative;
  width: 300px;
  height: 100px;
  margin: auto;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  background: #eafaff;
  overflow: hidden;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.container .card .content {
  padding: 20px;
  margin-top: 1rem;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .card .content a {
  color: #000000;
}

.container .card .content p {
  font-size: 1em;
  color: #000000;
}

.container .card .content h3 {
  font-size: 1.4rem;
  color: #000000;
  text-align: center;
  margin-bottom: 1.3rem;
}

.container .card .content img {
  max-width: 100%;
  height: 160px;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  background: var(--native1);
  border-radius: 10px;
}

.container .card .content span {
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  color: #0c7beb;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background-color: rgba(12, 123, 235, 0.15);
  top: 20px;
  right: -20px;
}

.container .card .content .heading {
  margin-bottom: 3rem;
}

.container .card .content .image,
.container .card .content .image-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.container .card .content .image-fill {
  -o-object-fit: fill;
  object-fit: fill;
}

.container .card .content .tag {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.container .card .content .women span {
  color: #0c7beb;
  background-color: rgba(12, 123, 235, 0.15);
}

.container .card .content .group span {
  color: #eb4c4c;
  background-color: rgba(235, 12, 12, 0.15);
}

/* Programs Section End */
/* Searching No Results Start*/
.noresult-description {
  margin-top: 1.25rem;
}

.noresult-description h1 {
  /* color: #5a5959; */
  color: var(--primary);
}

.noresult-image {
  width: 250px;
  max-width: 90%;
}

.noresult-description p {
  margin-top: 0.938rem;
  color: #45acff;
}

/* Searching No Results End*/
/*Start footer*/
.footer {
  background-color: var(--navbar-color);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 2rem 0rem 2rem 0rem;
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
}

.footer-question {
  width: 70%;
  margin: 0 auto;
  text-align: left;
}

.footer-question h4 {
  color: var(--navbar-links);
  letter-spacing: 0.06em;
}

.footer-question a {
  font-weight: 600;
  text-decoration: none;
  color: var(--footer-links);
  border-bottom: 1px dotted var(--accent-30);
}

.footer-question a:hover {
  border-bottom: 1px dotted var(--native2);
}

.footer-question h2 {
  margin-top: 3.2rem;
  font-weight: 400;
  text-decoration: none;
  color: var(--native2);
}

.footer-question h2 span {
  display: none;
}

.footer-copyright {
  color: white;
  /* display: flex; */
  text-align: left;
  margin: 3rem auto;
  width: 70%;
}

.footer-details {
  /* margin-right: 20%; */
  display: grid;
  grid-column-gap: 50%;
  grid-template-columns: auto auto auto;
  justify-items: center;
  align-items: center;
  width: 50%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .footer {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem; */
    width: 100%;
    font-size: 15px;
    overflow-x: hidden;
  }

  .footer-question {
    width: 100%;
    margin: auto 50px;
    margin-left: 30px;
  }

  .footer-details {
    /* display:flex; */
    flex-direction: row !important;
    flex-wrap: nowrap;
    width: 100%;
    margin-left: 30px;
    margin-top: 20px;
    /* font-size: 8px; */
  }

  .column2 {
    margin-left: 10px;
  }

  .footer-copyright {
    margin-left: 30px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 2rem;
    width: 100%;
    font-size: 15px;
  }

  .footer-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    flex-wrap: nowrap;
    /* width:50%; */
    /* margin-left: 10px; */
    font-size: 15px;
  }

  .column1,
  .column2 {
    width: 0 !important;
  }

  .footer-copyright {
    margin-left: 20px;
  }

  .footer-question {
    margin-left: 20px;
    font-size: 15px;
    width: 100%;
    margin-top: -40px;
  }
  .explore {
    margin-top: 21px;
  }
}

@media (max-width: 320px) {
  .footer {
    width: 100%;
    display: flex;
  }

  .footer-details {
    display: flex;
    align-items: center;
    justify-content: start !important;
    flex-wrap: wrap;
    font-size: 8px;
    margin-right: 0;
    margin-bottom: -10px;
  }

  .footer-question {
    font-size: 15px;
    /* margin-left: 10px; */
    width: 100%;
    margin-top: -40px;
  }
  .column1 {
    margin-top: 14px;
  }
  .column2 {
    margin-left: 0px;
  }
  .footer-copyright {
    margin-left: 10px;
    width: 100%;
  }
}

@media (min-width: 769px) {
  .footer-details {
    align-items: center;
  }
  .explore {
    margin-top: 20px;
  }
  .footer-copyright {
    margin-left: 90px;
  }
}

/* Footer End */

/* Back To Top Start */
.back-to-top .top {
  position: fixed;
  cursor: pointer;
  bottom: 20px;
  right: 15px;
  font-size: 16px;
  color: var(--native1);
  background-color: var(--native2);
  border: 2px solid #3c4e85;
  z-index: 4;
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.back-to-top .top:hover {
  color: #ffe5b5;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: var(--native1);
}

/* Back To Top End */
/* Preloader Start */
.preload {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--extra3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#logo {
  -webkit-animation: preload_logo 1s ease infinite alternate;
  animation: preload_logo 1s ease infinite alternate;
}

@-webkit-keyframes preload_logo {
  from {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-filter: opacity(50%);
    filter: opacity(50%);
  }
}

@keyframes preload_logo {
  from {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-filter: opacity(50%);
    filter: opacity(50%);
  }
}

/* Preloader End */
/* Landing Page Responsive Start */
@media screen and (max-width: 1440px) {
  .landing-page-header .header-details h1 {
    font-size: 5rem;
  }

  .landing-page-header img {
    width: 20rem;
    height: 20rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .landing-page-header .homesvg img {
    height: 100%;
    width: 280px;
    pointer-events: none;
  }

  .landing-page-header .header-details h1 {
    font-size: 4rem;
  }

  .landing-page-header .header-details p {
    font-size: 14px;
  }
}
@media screen and (min-width: 426px) and (max-width: 767px) {
  .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
  }
  .footer-question {
    width: 300px;
    padding-left: 3px;
  }

  .footer-details {
    width: 55%;
    display: flex;
    justify-content: space-evenly;
    font-size: 8px;
    padding-left: 22px;
    margin-bottom: -10px;
  }

  .footer-question {
    font-size: 15px;
    /* margin-left: 10px; */
    width: 300px;
    margin-top: -40px;
  }
  .column1 {
    margin-left: 0px;
    margin-top: 14px;
  }
  .column2 {
    margin-left: 0px;
    margin-top: 21px;
  }
  .footer-copyright {
    margin-left: 10px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container-landing .landing-page-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .container-landing .landing-page-details .second {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .landing-page-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .landing-page-header .homesvg img {
    height: 100%;
    width: 280px;
    pointer-events: none;
  }

  .landing-page-header .header-details h1 {
    font-size: 3rem;
  }

  .landing-page-header .header-details p {
    font-size: 16px;
  }

  .landing-page-header .header-details a {
    padding: 10px 40px;
  }

  .container-landing {
    width: 90%;
  }

  .top-navbar .navigation {
    padding: 12px 2px;
  }

  /* footer */

  .footer {
    background-color: var(--navbar-color);
  }

  .footer-details {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 2rem;
  }

  .column1,
  .column2 {
    width: 50%;
    text-align: left;
  }

  h2 span {
    font-size: 1em !important;
  }
}

@media screen and (max-width: 600px) {
  .landing-page-btn-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

/* Landing Page Responsive End */
/* Programs Section Responsive Start */
@media (max-width: 844px) {
  .container {
    width: 100%;
  }

  .container .align-flex {
    gap: 1.5rem;
  }
}

@media (max-width: 600px) {
  .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .navigation .product-hunt-button {
    margin-top: 10px;
  }

  .navigation .twitter-button {
    margin-top: 10px;
  }

  .error-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 420px) {
  .container .align-flex .frame-border .card .content h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 320px) {
  .container .card-js {
    width: 250px;
  }

  .frame-border .card {
    width: 100px;
  }
}

@media (max-width: 281px) {
  .container .card-js {
    width: 200px;
  }

  .container-landing .header-details h1 {
    font-size: 2rem;
  }

  .container-landing .header-details .search-container {
    width: 180px;
  }
}

/*# sourceMappingURL=globals.css.map */

/* ***********Global Search Starts********** */

.global-search {
  line-height: 33px;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-decoration: none;
  width: min-content;
  height: 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-container {
  position: relative;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: width 0.3s ease-in-out;
}

.search-container.open {
  width: 200px;
  background-color: var(--extra4);
  border-radius: 40px;
  margin-left: 1em;
}

.search-icon {
  cursor: pointer;
}

.search {
  display: hidden;
  width: 0;
  background: transparent;
  border: none;
  color: var(--primary);
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  height: 100%;
  /* border-bottom:1px solid var(--native1); */
}

.search-container.open .search {
  display: block;
  color: var(--primary);
  width: 100%;
  padding: 5px;
  padding-left: 47px;
}

.search-container.open .search-icon {
  color: #03a4ff;
}

.search-container .search-icon {
  color: var(--navbar-links);
  font-size: 20px;
  position: absolute;
  left: 1.1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.search-clear {
  right: 10px;
  display: none;
  position: absolute;
  align-self: center;
  font-size: 16px;
  color: var(--primary);
  transition: transform 0.2s;
  cursor: pointer;
}

.search-container.open .search-clear {
  display: block;
}

.search-clear:hover {
  transform: scale(1.25);
}

.search-result-count {
  margin: 0px 0px 20px 0px;
  text-align: start;
  padding-left: auto;
  font-family: "open-sans";
  color: var(--primary);
  font-size: xx-large;
  padding-inline: 5%;
}

.result-container {
  animation-name: search-result;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

@keyframes search-result {
  0% {
    scale: 0.75;
  }

  100% {
    scale: 1;
  }
}

.global-search .global-search-collapsed i {
  font-size: 50px;
}

.search-clear-collapsed {
  /* align-self: center; */
  font-size: 20px;
  background-color: var(--extra4) !important;
  margin-top: 5px !important;
  transition: transform 0.2s !important;
  cursor: pointer !important;
  color: var(--primary) !important;
  position: absolute !important;
  right: 190px !important;
  scale: 0.85 !important;
  width: auto !important;
  padding-inline: 15px !important;
  border-radius: 10px !important;
}

.search-clear-collapsed:hover {
  transform: scale(1.25);
}

/*  */

.global-search-navNarrow {
  line-height: 33px;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-decoration: none;
  width: min-content;
  height: 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-container-navNarrow {
  position: relative;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: width 0.3s ease-in-out;
}

.search-container-navNarrow.open {
  width: 35vw;
  background-color: var(--extra4);
  border-radius: 40px;
  /* margin-left: 1em; */
}

.search-icon {
  cursor: pointer;
}

.search-navNarrow {
  display: hidden;
  width: 0;
  background: transparent;
  border: none;
  color: var(--primary);
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  outline: none;
  height: 100%;
  /* border-bottom:1px solid var(--native1); */
}

.search-container-navNarrow.open .search-navNarrow {
  display: block;
  color: var(--primary);
  width: 80%;
  padding: 5px;
  padding-left: 30px;
}

.search-container-navNarrow.open .search-icon {
  color: var(--navbar-links);
}

.search-container-navNarrow .search-icon {
  color: var(--navbar-links);
  font-size: 20px;
  position: absolute;
  left: 0.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.search-container-navNarrow .search-clear-navNarrow {
  right: 10px;
  display: none;
  position: absolute;
  align-self: center;
  font-size: 16px;
  color: var(--primary);
  transition: transform 0.2s;
  cursor: pointer;
}

.search-container-navNarrow.open .search-clear-navNarrow {
  display: block;
}

.search-clear-navNarrow:hover {
  transform: scale(1.25);
}

.search-result-count {
  margin: 0px 0px 20px 0px;
  text-align: start;
  padding-left: auto;
  font-family: "open-sans";
  color: var(--primary);
  font-size: xx-large;
  padding-inline: 5%;
}

.result-container {
  animation-name: search-result;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

@keyframes search-result {
  0% {
    scale: 0.75;
  }

  100% {
    scale: 1;
  }
}

.global-search-navNarrow .global-search-collapsed i {
  font-size: 50px;
}

.search-clear-navNarrow-collapsed {
  /* align-self: center; */
  font-size: 20px;
  background-color: var(--extra4) !important;
  margin-top: 5px !important;
  transition: transform 0.2s !important;
  cursor: pointer !important;
  color: var(--primary) !important;
  position: absolute !important;
  right: 190px !important;
  scale: 0.85 !important;
  width: auto !important;
  padding-inline: 15px !important;
  border-radius: 10px !important;
}

.search-clear-navNarrow-collapsed:hover {
  transform: scale(1.25);
}

/*  */
/* Global Search Ends*/

/* Pagination layout starts */
.paginationBttns {
  margin-top: 50px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary);
}

@media only screen and (max-width: 767px) {
  .paginationBttns {
    flex-wrap: wrap;
    align-content: flex-start;
  }
}

.paginationBttns a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0px;
  height: 0px;
  padding: 20px;
  margin: 10px;
  font-size: 20px;
  font-family: "open-sans";
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: ease 300ms all;
}

.paginationBttns li {
  font-size: 16px;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "open-sans";
}

.paginationBttns a:hover {
  background: var(--primary);
  color: var(--native1);
}

.paginationActive a {
  color: var(--native1);
  background: var(--primary);
}

.disabledLinkClassName {
  opacity: 1;
  pointer-events: none;
}

.disabledLinkClassName:hover {
  cursor: default;
}

/* Pagination layout ends */

.footer-copyright {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  background-color: #00253a;
  margin: 0px;
  width: 100%;
  height: 10vh;
}
.label:hover {
  background-color: #0093ed;
  color: white;
}
